html {
  background-color: #E4E9FD;
  min-height: 1000px;
  font-family: 'System UI', sans-serif;
}

footer{
  margin: 50px auto;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 850px;
  margin: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 5fr 1fr;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 80px;
  width: 80px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 50px;
  padding-bottom: 0;
  border-width: 0;
}

textarea, select {
  padding: 10px;
  font-size: 16px;
  width: -webkit-fill-available;
}

textarea {
  height: 40px;
}

select {
  height: 62px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  padding: initial;
  border: 1px solid grey;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: -webkit-fill-available;
}

input[type="text"]:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#list_header{
  height: 50px;
  background-color: #A683E3;
  color: white;
}

.item_add{
  display: flex;
  padding-left: 20px;
}

.item_add_inputs{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.item_add_submit{
  display: flex;
  align-items: center;
  padding: 40px;
}

#new-item-box{
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.starred{
  color: #e3c983;
}